<%- include('header') %>



  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h1>
              About us
            </h1>
            <p>
              Welcome to our website, where we’re dedicated to helping you achieve your weight gain goals, one meal at a time. understand that gaining weight can be just as challenging as losing it, and that's why our platform is designed to make tracking your food intake easy, motivating, and secure.
            </p>

            <p> With our app, you can set daily goals for the amount of food you need to consume to meet your weight gain targets. Keep track of your progress, monitor your streaks, and stay motivated as you work towards your goals. </p>

<p>We believe that progress should be celebrated, which is why we help you track your streaks and achievements along the way. And, of course, your privacy and data security are our top priorities—your personal information is always safe with us.</p>

<p>Join us today and start building the healthy, strong body you’ve always wanted.
   </p>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="images/womn.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="info_section ">
    <div class="container">
      <h4>
        Get In Touch
      </h4>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="info_items">
            <div class="row">

              <div class="col-md-6">
                <a href="tel:+2348065662645">
                  <div class="item">
                    <div class="img-box">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p>
                      +2348065662645
                    </p>
                  </div>
                </a>
              </div>

              <div class="col-md-6">
                <a href="mailto:chizzyjustin003@gmail.com">
                  <div class="item">
                    <div class="img-box">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <p>
                      chizzyjustin003@gmail.com
                    </p>
                  </div>
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </section>

  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayDateYear"></span> All Rights Reserved 
      </p>
    </div>
  </footer>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="js/custom.js"></script>



</body>

</html>